doctype html
html
  include inc/head
  body
    textarea#source
        include ../slides/01_overview.md
        include ../slides/02_simple_sim.md
        include ../slides/03_wrap_up.md
    include inc/scripts
